<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="/js/jquery-3.1.0.min.js"></script>
    <script>
        $(function() {

            var accX, accY, accZ;

            // DeviceMotion Event
            window.addEventListener("devicemotion", function devicemotionHandler(event) {
                // 加速度
                // X軸
                accX = event.acceleration.x;
                // Y軸
                accY = event.acceleration.y;
                // Z軸
                accZ = event.acceleration.z;

                $("#accX span").html(accX);
                $("#accY span").html(accY);
                $("#accZ span").html(accZ);
            });

            if (navigator.geolocation) {

                // 現在地取得と地図作成
                navigator.geolocation.getCurrentPosition(
                        function (position) {

                            alert("加速度 x:" + accX);

                            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                            var mapOptions = {
                                zoom: 17,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                mapTypeControl: false,
                                streetViewControl: false,
                                draggable: false
                            };
                            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);


                            marker = new google.maps.Marker({
                                position: latlng,
                                map: map,
                                icon: iconImg
                            });

                        }
                );
            }

                var click, mouseX;

            window.addEventListener("touchstart", function(){
                alert("加速度 x:" + accX);
            });

            window.addEventListener("click", function(){
                alert("加速度 x:" + accX);
            });

            window.addEventListener("mousemove", function(evnet){
                //console.log(evnet.clientX);
                mouseX = evnet.clientX;
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h2>Test Event</h2>
    <div id="accX">accX：<span></span></div>
    <div id="accY">accY：<span></span></div>
    <div id="accZ">accZ：<span></span></div>
</div>
</body>
</html>