<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test GoogleMap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- TODO:本番用に変更が筆用-->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB8DFkfcAxAyY5GMcAvZxDPrUTlBoOoFPs"></script>
    <script>
        $(function(){

            var map, marker;

            if (navigator.geolocation) {

                // 現在地取得と地図作成
                navigator.geolocation.getCurrentPosition(
                        function(position){

                            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                            var mapOptions = {
                                zoom: 15,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

                            marker = new google.maps.Marker({
                                position: latlng,
                                map: map,
                                title:"Your position"
                            });

                        },
                        function(error){

                            // TODO:エラー時のハンドリング
                            console.warn('ERROR(' + error.code + '): ' + error.message);

                        }
                );

                // を移動していく。
                var positionOptions = {
                    enableHighAccuracy: false,
                    timeout: 5000, //TODO:トンネルとかあるので調整する必要がある。
                    maximumAge: 0
                };
                navigator.geolocation.watchPosition(
                        function(position){

                            //TODO:デバッグ
//                            console.log("緯度:" + position.coords.latitude);
//                            console.log("経度:" + position.coords.longitude);
//                            console.log("方角:" + position.coords.heading);
//                            console.log("速度:" + position.coords.speed);
//                            console.log("高度:" + position.coords.altitude);

                            $("#latitude span").html(position.coords.latitude.toString());
                            $("#longitude span").html(position.coords.longitude.toString());
                            $("#heading span").html(position.coords.heading.toString());
                            $("#speed span").html(position.coords.speed.toString());
                            $("#altitude span").html(position.coords.altitude.toString());

//                            $.ajax({
//                                type: "GET",
//                                url: "/cariot/doLog",
//                                data: {
//                                    "latitude": position.coords.latitude,
//                                    "longitude": position.coords.longitude,
//                                    "altitude": position.coords.altitude,
//                                    "speed": position.coords.speed,
//                                    "heading": position.coords.heading
//                                },
//                                success: function(msg){
//                                    console.log("doLog: " + msg );
//                                }
//                            });

                            //現在地マーカーが設置されている場合は消去
                            if( marker ){
                                marker.setMap(null);
                            }

                            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                            marker = new google.maps.Marker({
                                position: latlng,
                                map: map,
                                title:"Your position"
                            });

                        },
                        function(error){

                            // TODO:エラー時のハンドリング
                            console.warn('ERROR(' + error.code + '): ' + error.message);
                        },
                        positionOptions);

            } else {
                // TODO:エラー時のハンドリング
                document.getElementById("map_canvas").innerHTML = "Geolocationが利用できません";
            }


            // DeviceMotion Event
            window.addEventListener("devicemotion", devicemotionHandler);

            // 加速度が変化
            function devicemotionHandler(event) {
                // 加速度
                // X軸
                var x = event.acceleration.x;
                // Y軸
                var y = event.acceleration.y;
                // Z軸
                var z = event.acceleration.z;

                $("#accelerationX span").html(event.acceleration.x.toString());
                $("#accelerationY span").html(event.acceleration.y.toString());
                $("#accelerationZ span").html(event.acceleration.z.toString());

                //console.log("加速度 x:" + x + "y:" + y + "z:" + z);
                //$("#acceleration").html("加速度 x:" + x + "y:" + y + "z:" + z);
            }

        });
    </script>
    <style>
        html { height: 100%; }
        body { height: 80%; margin: 0; padding: 0; }
        #map_canvas { height: 100%; width:100%;}
    </style>
</head>
<body>
<div id="latitude">緯度:<span></span></div>
<div id="longitude">経度:<span></span></div>
<div id="heading">方角:<span></span></div>
<div id="speed">速度:<span></span></div>
<div id="altitude">高度:<span></span></div>
<div id="accelerationX">加速度X軸:<span></span></div>
<div id="accelerationY">加速度Y軸:<span></span></div>
<div id="accelerationZ">加速度Z軸:<span></span></div>
<!--<div id="map_canvas"></div>-->
</body>
</html>